body {
    margin: 0;
}

main.container {
    padding-top: 3rem;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

#newsContainer .alert {
    margin-top: 10vh;
    text-align: center;
}

@media (max-width: 992px) {
    .navbar .btn.rounded-pill {
        margin-top: 0.5rem;
    }
}